<div class="flex-shrink-0 p-3" style="width: 280px;">
    <a href="#" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="50" fill="currentColor" class="bi bi-code" viewBox="0 0 16 16">
              <path d="M5.854 4.854a.5.5 0 1 0-.708-.708l-3.5 3.5a.5.5 0 0 0 0 .708l3.5 3.5a.5.5 0 0 0 .708-.708L2.707 8l3.147-3.146zm4.292 0a.5.5 0 0 1 .708-.708l3.5 3.5a.5.5 0 0 1 0 .708l-3.5 3.5a.5.5 0 0 1-.708-.708L13.293 8l-3.147-3.146z"/>
            </svg>
        <span class="fs-5 fw-semibold">github.io</span>
    </a>
    <ul class="list-unstyled ps-0">
        <li class="mb-1" style="color: #9fef00">
            <a href="/" class="nav-link">00x00 - Home</a>
        </li>
        <li class="mb-1">
            <a href="#" class="nav-link" aria-current="page" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">00x01 - Cheat Sheet</a>
            <div class="collapse" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="cheat-sheet/reverse-shell" class="nav-link">00x01 - Reverse Shell</a></li>
                    <li><a href="#" class="nav-link">00x02 - TTY Shell</a></li>
                    <li><a href="#" class="nav-link">00x03 - Payloads</a></li>
                    <li><a href="#" class="nav-link">00x04 - Scripts</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>