html {
    height: -webkit-fill-available;
}

main {
    display: flex;
    flex-wrap: nowrap;
}

h1 {
    color: white;
    font-weight: bold;
}

h2,
h3 {
    color: white;
}

code {
    font-family: 'Bebas Neue', sans-serif;
    font-size: large;
    letter-spacing: 2.5px;
    color: #9fef00;
}