<!-- Begin page content -->
        <div class="row">
            <h1 class="mt-5">Tools</h1>
            <hr>
            <p class="lead">
                Collection of tools and scripts.
            </p>
        </div>
        <br><br>
        <div class="row">
            <h2>Electronic Engineering</h2>
            <hr>
            <a href="/tools/resistor-calculator" target="_blank">Resistor Calculator</a>
            <br>
            <a href="/tools/calculators/resistance" target="_blank">Resistance Calculator</a>
            <br>
        </div> 