<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <h1 class="mt-5">Tools</h1>
            <hr>
            <p class="lead">
                Collection of tools and scripts.
            </p>
        </div>
        <br><br>
        <div class="row">
            <h2>Enumeration</h2>
            <hr>
            <a href="https://github.com/rebootuser/LinEnum" target="_blank">LinEnum</a>
            <br>
        </div>
        <br><br>
        <div class="row">
            <h2>Buffer Overflow</h2>
            <hr>
            <a href="tools/pattern-create">Pattern Create</a>
            <br>
        </div>
        <br><br>
    </div>
</main>