<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Pentest 0x65</h1>
        <hr>
        <p class="lead">
            A penetration test, colloquially known as a <code>pen test</code> or <code>ethical hacking</code>, is an authorized simulated <code>cyberattack</code> on a computer system, performed to evaluate the security of the system. The test is performed
            to identify vulnerabilities, including the potential for unauthorized parties to gain access to the system's features and data,as well as strengths, enabling a full risk assessment to be completed.
        </p>

        <h2>Info</h2>
        <hr>
        <a href="https://book.hacktricks.xyz/" target="_blank">https://book.hacktricks.xyz/</a>
        <br>
        <a href="https://sec.rtfm.page/#/" target="_blank" rel="noopener noreferrer">https://sec.rtfm.page/#/</a>
        <br>
        <a href="https://gtfobins.github.io/" target="_blank" rel="noopener noreferrer">https://gtfobins.github.io/</a>
        <br>
        <a href="https://pentestmonkey.net/" target="_blank" rel="noopener noreferrer">https://pentestmonkey.net/</a>
        <br>
        <a href="https://ctftime.org/" target="_blank" rel="noopener noreferrer">https://ctftime.org/</a>
        <br>
        <a href="https://www.exploit-db.com/" target="_blank" rel="noopener noreferrer">https://www.exploit-db.com/</a>
    </div>
</main>