<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <h1 class="mt-5">0x65</h1>
            <hr>
            <p class="lead">
                A collection of things!
            </p>
        </div>
        <br><br>
        <div class="row">
            <h2>Info</h2>
            <hr>
        </div>
        <br><br>
        <div class="row">
            <h2>
                Electronic Engineering
            </h2>            
            <hr>
            <h3>
                <code>Electronic Circuits 1</code>
            </h3>
            <a href="electronic-engineering/electronic-circuits/introduction" target="_blank" rel="noopener noreferrer">Introduction</a>
            <a href="electronic-engineering/electronic-circuits/ohms-law" target="_blank" rel="noopener noreferrer">Ohm's Law</a>
            <a href="electronic-engineering/electronic-circuits/series-circuits" target="_blank" rel="noopener noreferrer">Circuits
                in Series</a>
                <a href="electronic-engineering/electronic-circuits/parallel-circuits" target="_blank" rel="noopener noreferrer">Circuits
                    in Parallel</a>
            <br>            
            <br>
        </div>
    </div>
</main>